@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=DynaPuff:wght@400;700&family=Paytone+One&family=Rock+Salt&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,600;1,600&family=Concert+One&family=Days+One&family=Jockey+One&family=Lilita+One&family=Paytone+One&family=Rampart+One&family=Rubik+Mono+One&family=Secular+One&family=Unbounded:wght@200&display=swap');

.principal {
    margin-top: 30px;
}

#carouselExample{
    background-color: beige;
}

.text-center{
    color: white;
    font-family:"Rampart One";
}

#cat {
    color:white;
    text-align : center;
    font-family: "Rampart One" ;
}

#frase{
    color: white;
    text-align: center;
    font-family: "Rampart One";
    font-size: x-large;
}

.container{
    width: 50%;
    border: 2px solid black;
}

div h2 ,p{
    color: #a14016;
   }

   .categorias{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 350px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.categorias h3{
    display: flex;
    justify-content: center;
    padding-right: 180px;
    padding-bottom: 10px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

section img{
    display: flex;
    display: inline-block;
    width: 50%;
}

section p{
    padding: 15px;
    margin: 15px;
    width: 30%;
    font-size: 19px;
    font-family: "Roboto Slab",serif;
    color:white;
    }

    .card{
        background-color: gray;
    }

    .card-img-top {
        background-color: gray;
    }

    .card-text{
        color: white;
        font-family:"Roboto Slab",serif;
        background-color: gray;
    }

    .card-body{
        background-color:gray;
        }

        .card-title{
            font-family: "Rampart One" ;
            background-color: gray;  
            color: white;
        }
        
        





